# sudo vi /etc/my.cnf
# sudo vi /etc/mysql/my.cnf

[mysql]
# set connections
max_connections = 100

# set query
join_buffer_size = 8M 
sort_buffer_size = 4M 

# set cache
query_cache_type = 0 
query_cache_size = 0  

# set execution time 
max_execution_time = 10

# set innodb(if using)
innodb_buffer_pool_size = 2G
innodb_log_file_size = 512M

log_error = /var/log/mysql/error.log
general_log_file = /var/log/mysql/general.log
tmpdir = /path/to/tmp/directory